.main-text {
    font-size: 22px;
    padding: 2px;
    font-family: Georgia, serif;
    line-height: 26px;
    font-weight: normal
}

.data-text {
    font-size: 14px;
    padding: 2px;
    font-family: Georgia, serif;
    line-height: 18px;
}

.cleaned {
    height: 25px;
}

.readed {
    color: black;
}

.unreaded {
    color: red;
}
.seccess {
    color: darkgreen;
}
.error {
    color: red;
}
#edit-button {
    display: block;
}
#submit {
    display: none;
}
#cancel {
    display: none;
}

#form-error {
    color: red;
}
.image {
    display: block;
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
}

.info-row {
    height: 40px;
}