
.main-text {
    font-size: 22px;
    padding: 2px;
    font-family: Georgia, serif;
    line-height: 26px;
    font-weight: normal
}

.data-text {
    font-size: 14px;
    padding: 2px;
    font-family: Georgia, serif;
    line-height: 18px;
}

.cleaned {
    height: 25px;
}