{% extends 'hello/base.html' %}

{% load staticfiles %}

{% block title %} {{ latest_requests_count }} {% endblock title %}

{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
{% endblock extra_head %}

{% block content %}
    <div class="row">
        <div class="col-lg-11"></div>
        <div class="col-lg-1">
            <a class="btn btn-primary" type="button" href="{% url 'hello:requests' %}">Order by Date</a>
            <a class="btn btn-primary" type="button" href="{% url 'hello:requests' %}?order=priority">Order by Priority
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered text-center" id="requests-table" data-last-id="{{ last_request.id }}">
                <thead>
                <tr>
                    <td class="col-lg-2">Type</td>
                    <td class="col-lg-2">Query</td>
                    <td class="col-lg-2">Date</td>
                    <td class="col-lg-2">IP</td>
                    <td class="col-lg-2">Host requested</td>
                    <td class="col-lg-2">Priority</td>
                </tr>
                </thead>
                <tbody>
                    {% for request in latest_requests %}
                        <tr class="request {% if request.is_viewed %}readed{% else %} unreaded{% endif %}"  id="request_{{ request.id }}" data-id="{{ request.id }}" >
                            <td>
                                {{ request.method }}
                            </td>
                            <td>
                                {{ request.path }}
                            </td>
                            <td>
                                {{ request.date|date:'Y-m-d h:i:s' }}
                            </td>
                            <td>
                                {{ request.ip }}
                            </td>
                            <td>
                                {{ request.host }}
                            </td>
                            <td>
                                <div class="col-xs-9 selectContainer">
                                    <select name="priority" class="form-control priority" id="priority" data-request-id="{{ request.id }}">
                                        <option value="0" {% if request.priority == 0 %}selected{% endif %}>Casual</option>
                                        <option value="1" {% if request.priority == 1 %}selected{% endif %}>Important</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>No requests yet</tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'hello/js/request.js' %}"></script>
    <script src="{% static 'hello/js/priority.js' %}"></script>
{% endblock content %}

