{% extends 'hello/base.html' %}

{% block content %}
        <div class="row main-text">
            <div class="col-lg-5">
                <ul class="list-unstyled">
                        <li class="row info-row">
                            <div class="col-md-5"><strong>Name</strong></div>
                            <div class="col-md-5">{{ person.name }}</div>
                        </li>
                        <li class="row info-row">
                            <div class="col-md-5"><strong>Last Name</strong></div>
                            <div class="col-md-5">{{ person.last_name }}</div>
                        </li>
                        <li class="row info-row">
                            <div class="col-md-5"><strong>Date of birth</strong></div>
                            <div class="col-md-5">{{ person.date_of_birth|date:"m-d-Y" }}</div>
                        </li>
                        <li><div class="cleaned"></div> </li>
                        <li class="row">

                            <div class="col-md-5"><strong>Photo</strong></div>
                            <img class="image" src="{{ MEDIA_URL }}{{ person.photo }}">
                        </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <p class="main-text"><strong>Contacts:</strong></p>
                <ul class="list-unstyled">
                    <li class="row info-row">
                        <div class="col-md-5"><strong>Email</strong></div>
                        <div class="col-md-5">{{ person.email }}</div>
                    </li>
                    <li class="row info-row">
                        <div class="col-md-5"><strong>Jabber ID</strong></div>
                        <div class="col-md-5">{{ person.jabber }}</div>
                    </li>
                    <li class="row info-row">
                        <div class="col-md-5"><strong>Skype</strong></div>
                        <div class="col-md-5">{{ person.skype }}</div>
                    </li>
                    <li class="row info-row">
                        <div class="col-md-5"><strong>Other contacts:</strong></div>
                        <div class="col-md-5">{{ person.other_contacts|linebreaks }}</div>
                    </li>
                    <li class="row info-row">
                        <div class="col-md-5"><strong>Bio</strong></div>
                        <div class="col-md-5">{{ person.bio|linebreaks }}</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-1">
                {% if user.is_authenticated %}
                    <div class="nav on-page> col-sm-1">
                        <a href="{% url 'hello:user_edit'%}">Edit</a>
                    </div>
                {% else %}
                    <div class="nav on-page> col-sm-1">
                        <a href="{% url 'hello:login' %}">Login</a>
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock content %}