{% extends 'hello/base.html' %}

{% block content %}
        <div class="row main-text">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-5">Name</div>
                    <div class="col-md-5">{{ user.name }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Last Name</div>
                    <div class="col-md-5">{{ user.last_name }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Date of birth</div>
                    <div class="col-md-5">{{ user.date_of_birth|date:"m-d-Y" }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Bio</div>
                    <div class="col-md-5">{{ user.bio }}</div>
                </div>
            </div>
            <div class="col-lg-6">
        <p class="main-text"><strong>Contacts:</strong></p>
                <div class="row">
                    <div class="col-md-5">Email</div>
                    <div class="col-md-5">{{ user.email }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Jabber ID</div>
                    <div class="col-md-5">{{ user.jabber }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Skype</div>
                    <div class="col-md-5">{{ user.skype }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Other contacts:</div>
                    <div class="col-md-5">{{ user.other_contacts }}</div>
                </div>
            </div>
        </div>
{% endblock content %}